#Django
/db.sqlite3

#python
__pycache__/
*.py[cod]

#Environment
venv/
env/
.venv/

#Environment variables/ secrets
.env
.env.*

#VS Code
.vscode/

#OS files
.DS_Store
Thumbs.db

#Project backups
backup_before_gtfs.json
deployment_venv/
staticfiles/